@import url(https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans);
@font-face {
    font-family: "pica";
    src: url("../fonts/IMFeDPrm28P.ttf");
}
@font-face {
    font-family: "aihara";
    src: url("../fonts/AiharaHudemojiKaisho2.01.ttf");
}
body {
    font-family: "Dosis", sans-serif;
    font-size: 1.2rem;
    background-color: #202020;
}
body jap {
    font-family: aihara, sans-serif;
    font-size: 1.4rem;
}
body h1 {
    font-size: 2.88rem;
    text-align: center;
    margin: 0 0 20px 0;
    font-weight: bold;
}
body h1 jap {
    font-size: 3.36rem;
}
body h2 {
    font-size: 2.16rem;
    margin: 1.92rem 0 0 1.92rem;
}
body h2 jap {
    font-size: 2.2399999999999998rem;
}
body .container {
    width: 60rem;
    margin: 80px auto;
    border: 1px solid #101010;
    border-radius: 16px;
    box-sizing: initial;
    background-color: #eeeeee;
    color: #ad3030;
}
body .container strong {
    font-weight: bold;
}
body .container em {
    font-style: italic;
}
body .container .header {
    height: 16rem;
    background: url(../images/title.jpg) no-repeat center left;
    background-size: cover;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.5);
}
body .container .header jap {
    font-size: 5rem;
    float: right;
    margin: 4px 16px 0 0;
    width: 78px;
}
body .container .navigation .navigation-menu > li {
    float: left;
    border-top: 1px solid #101010;
}
body .container .navigation .navigation-menu .menu {
    display: block;
    position: relative;
    cursor: pointer;
}
body .container .navigation .navigation-menu .menu:hover .menu-title {
    padding: 8px;
}
body .container .navigation .navigation-menu .menu:hover > a .menu-title:before {
    border-top-width: 0;
    transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}
body .container .navigation .navigation-menu .menu:hover > a .menu-title:after {
    border-bottom-width: 8px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
}
body .container .navigation .navigation-menu .menu:not(:hover) > .menu-dropdown {
    padding: 2px 0;
    background: #dddddd;
    z-index: 99;
}
body .container .navigation .navigation-menu .menu:not(:hover) > .menu-title:after {
    border-bottom-color: #dddddd;
}
body .container .navigation .navigation-menu .menu:not(:hover) > .menu-dropdown:after {
    border-top-color: #dddddd;
}
body .container .navigation .navigation-menu .menu:not(:hover) > .menu-dropdown > li {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25, 25, 25, 0);
    transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
    z-index: 99;
}
body .container .navigation .navigation-menu .menu .menu-title {
    display: block;
    width: 15rem;
    height: 40px;
    padding: 16px;
    background: #303030;
    text-align: center;
    color: #dddddd;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: 0.4s background-color, 0.4s padding;
    text-shadow: 0 0 6px;
}
body .container .navigation .navigation-menu .menu .menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 16px solid #303030;
    border-left: 7.5rem solid transparent;
    border-right: 7.5rem solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.2s 0.2s border-top ease-out, 0.2s border-top-color;
}
body .container .navigation .navigation-menu .menu .menu-title:after {
    content: "";
    display: block;
    height: 0;
    border-left: 7.5rem solid transparent;
    border-right: 7.5rem solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
}
body .container .navigation .navigation-menu .menu .menu-title:hover {
    background: #202020;
}
body .container .navigation .navigation-menu .menu .menu-title:hover:before {
    border-top-color: #202020;
}
body .container .navigation .navigation-menu .menu .menu-dropdown {
    min-width: 100%;
    padding: 4px 0;
    position: absolute;
    background: #dddddd;
    z-index: 100;
    transition: 0.5s padding, 0.5s background;
}
body .container .navigation .navigation-menu .menu .menu-dropdown > li {
    overflow: hidden;
    padding: 0 5px 0 20px;
    background: transparent;
    transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.3s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}
body .container .navigation .navigation-menu .menu .menu-dropdown > li > a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 10px 0;
}
body .container .navigation .navigation-menu .menu .menu-dropdown > li:hover {
    background: #bbbbbb;
    padding: 0 5px 0 30px;
}
body .container .navigation .navigation-menu .menu .menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-top: 16px solid #dddddd;
    border-left: 7.5rem solid transparent;
    border-right: 7.5rem solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.5s border-top;
}
body .container .content {
    padding: 80px 40px 40px;
    box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}
body .container .content p {
    margin: 20px 0;
    text-align: justify;
    line-height: 1.5;
    text-shadow: 0 0 6px rgba(173, 48, 48, 0.3);
    letter-spacing: 1px;
}
body .container .content .button-group {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 2% auto;
}
body .container .content a {
    text-decoration: underline;
    font-weight: bold;
}
body .container .content a.button {
    background-color: #ad3030;
    color: #eeeeee;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 4px;
    box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    cursor: pointer;
}
body .container .content a.button:hover {
    box-shadow: inset 0 0 20px 2px rgba(255, 255, 255, 0.3);
}
body .container .content .training .start {
    width: 95.7% !important;
    background: radial-gradient(#b400e6, #6400a0);
    color: #eeeeee;
    text-shadow: 0 0 6px;
    border-radius: 4px;
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.6);
    margin: 2% auto;
    height: 200px;
}
body .container .content .training .start div {
    float: left;
    height: 200px;
    width: 35%;
    text-align: center;
}
body .container .content .training .start .task {
    width: 30%;
    padding: 0;
}
body .container .content .training .start .task > jap {
    font-size: 8rem;
}
body .container .content .training .start .task p {
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
    height: 5px;
}
body .container .content .training .start .info {
    padding: 0 20px;
}
body .container .content .training .start .input {
    padding: 22px 0;
}
body .container .content .training .start .input > * {
    margin: 10px 0;
}
body .container .content .training .start .input .result {
    width: 90%;
    padding: 12px 0 12px 20px;
    outline: none;
    font-size: 24px;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.3);
    color: #eeeeee;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    text-indent: 30%;
    transition: all 0.3s ease-in-out;
}
body .container .content .training .start .input .result:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    text-indent: 0;
}
body .container .content .training .start .input .skip {
    width: 90%;
    padding: 12px;
    outline: none;
    font-size: 24px;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, 0.2);
    color: #eeeeee;
    border: 2px outset;
    border-radius: 4px;
    cursor: pointer;
    transition: text-shadow 0.3s ease-in-out;
    box-shadow: inset -4px -4px 16px 0 rgba(0, 0, 0, 0.3);
}
body .container .content .training .start .input .skip:hover {
    text-shadow: 0 0 12px;
}
body .container .content .training .start .input .skip:active {
    border: 2px inset;
    box-shadow: inset 4px 4px 16px 0 rgba(0, 0, 0, 0.3);
}
body .container .content .training .double {
    width: 62.3% !important;
}
body .container .content .training .triple {
    width: 95.7% !important;
}
body .container .content .training .start-button {
    width: 29%;
    height: 200px;
    background: radial-gradient(circle, #b400e6 50%, #6400a0);
    color: #eeeeee;
    text-shadow: 0 0 6px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.6);
    font-family: "Dosis", sans-serif;
    margin: 0 2%;
    cursor: pointer;
    transition: 0.3s linear all;
}
body .container .content .training .start-button:hover {
    filter: saturate(120%) drop-shadow(0 0 8px #000000);
}
body .container .content .training .start-button header {
    font-size: 2.04rem;
    font-weight: bold;
}
body .container .content .training .start-button section {
    height: 80px;
    font-size: 1.4rem;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    width: 1000px;
    padding: 0 10px;
}
body .container .content .training .start-button footer {
    height: 50px;
}
body .container .content .training .start-button footer jap,
body .container .content .training .start-button footer em {
    font-size: 2.2399999999999998rem;
}
