html body {
    background-color: azure;
    color: slategrey;
}

.container {
    margin-top: 2rem;
}

h1, h2 {
    text-align: center;
}

p {
    text-align: justify;
}

.input-group{
    margin: 10px auto !important;
}

.input-group-addon{
    padding: 0;
    margin: 0;
    width: 50px !important;
}

.left-addon {
    width: 15% !important;
}

.left-text-addon {
    width: 25% !important;
}

.describing-addon {
    width: 75% !important;
}

.button-addon {
    width: 15px;
}

#title-img {
    background: url('../images/title.jpg') no-repeat center;
    background-size: 100%;
    height: 36rem;
}

.content {
    margin-top: 2rem;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

    .sidebar-nav .navbar ul:not {
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}