/*************************************************
 FONTS
*************************************************/

@font-face {
    font-family: "aihara";
    src: url("../fonts/AiharaHudemojiKaisho2.01.ttf");
}

@font-face {
    font-family: "irohamaru";
    src: url("../fonts/irohamaru-mikami-Regular.ttf");
}

@font-face {
    font-family: "strokeorder";
    src: url("../fonts/KanjiStrokeOrders_v3.001.ttf");
}

@font-face {
    font-family: "Raimoo";
    src: url("../fonts/DylanGothic-Regular.ttf");
}

.jap-font {
    font-family: aihara, sans-serif;
}

/*************************************************
 GENERAL
*************************************************/
body{

}

.container {
    margin-top: 2rem;
}

p {
    text-align: justify;
}

.title-image{
    background: url('../images/title.jpg') no-repeat center;
    background-size: 100%;
    height: 6rem;
}


/*************************************************
 INPUT GROUP
*************************************************/

.input-group {
    margin: 1rem auto !important;
}

.input-group input {
    width: 25rem !important;
}

.left-addon {
    width: 10rem;
    font-size: 3rem !important;
    padding: 0 !important;
}

.left-text-addon {
    width: 15rem;
}

.describing-addon {
    width: 30rem;
}

.button-addon {
    width: 10rem;
}

/*************************************************
 GLOBAL TRAINING
*************************************************/

.show-box p {
    text-align: left;
}

.result {
    text-align: center;
    padding-left: 0.5rem;
}

.result input {
    line-height: 5rem;
    border-radius: 1rem;
    border: 1px solid grey;
    width: 64%;
    padding-left: 1rem;
    outline: none;
    margin-right: 1rem;
    margin-left: -1.2rem;
}

.result button {
    line-height: 5rem;
    width: 30%;
    border: 1px solid gray;
    border-radius: 1rem;
}

/*************************************************
 HIRAGANA TRAINING
*************************************************/

#hiragana-container {
    margin: 5rem auto;
    width: 80rem;
    height: 24rem;
}

#hiragana-box {
    font-size: 12rem;
    border: 1px solid grey;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 24rem;
    height: 24rem;
    text-align: center;
    line-height: 24rem;
}

#hiragana-container .show-box {
    position: relative;
    bottom: 24rem;
    left: 24rem;
    width: 56rem;
    height: 8rem;
    padding-left: 1.2rem;
    padding-top: 1.2rem;
    border: 1px solid grey;
    border-left: none;
}

#hiragana-container .info-box-top {
    border-top-right-radius: 2rem;
}

#hiragana-container .info-box-bottom {
    border-top: none;
    border-bottom-right-radius: 2rem;
}

#hiragana-container .result {
    border-top: none;
}


/*************************************************
 VERBS TRAINING
*************************************************/
#verbs-container {
    margin: 5rem auto;
    width: 80rem;
    height: 24rem;
}

#verbs-box {
    font-size: 4rem;
    border: 1px solid grey;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 80rem;
    height: 8rem;
    text-align: center;
    line-height: 8rem;
}

#verbs-container .show-box {
    position: relative;
    width: 40rem;
    height: 8rem;
    padding-left: 1.2rem;
    padding-top: 1.2rem;
    border: 1px solid grey;
}

#verbs-container .info-box-top {
    border-top: none;
}

#verbs-container .meaning-box {
    border-top: none;
    border-bottom-left-radius: 2rem;
}

#verbs-container .info-box-bottom {
    border-top: none;
    border-left: none;
    left: 40rem;
    bottom: 24rem;
}

#verbs-container .result {
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 2rem;
    left: 40rem;
    bottom: 8rem;
}


/*************************************************
 END TRAINING
*************************************************/

.end {
    text-align: center;
}

.end p {
    text-align: center;
}

.end p.rank {
    font-size: 24rem;
    position: relative;
    bottom: 8rem;
    height: 20rem;
    font-weight: 900;
    color: crimson;
    text-shadow: 5px 5px black;
}

.end button {
    width: 24rem;
}

/*************************************************
 NAVIGATION
*************************************************/

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

    .sidebar-nav .navbar ul:not {
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
        line-height: 3rem;
    }
}